.leaflet-container{
  width: 1400px;
  height: 800px;
}

.leaflet-container34{
  font-size : 30;
}

.highlight {

  background-color: rgb(125, 228, 142);
}

.lowlight {

  background-color: rgb(255, 255, 255);
}